sudo: false

rvm:
- "2.0"
- "2.1"
- "2.2.6"
- "2.3.3"
- "2.4.0"
- ruby-head
- jruby-head

matrix:
  allow_failures:
  - rvm: ruby-head
  - rvm: jruby-head
  fast_finish: true

branches:
  only:
  - master

before_install: gem install bundler -v ">= 1.12.5"
